<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head(${pageTitle})}" />	
<body>
<div class="container-fluid">
	<div th:replace="~{navigation :: menu}" ></div>
	<div>
		<h2>Manage Customers |  [[${pageTitle}]]</h2>	
	</div>
	
	<form th:action="@{/customers/save}" method="post" style="max-width: 500px; margin: 0 auto"
		th:object="${customer}">
		<input type="hidden" th:field="*{id}" />	
	<div class="border border-secondary rounded p-3">
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Name:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="45">
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Address:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:field="*{address}"  maxlength="45">
			</div>
		</div>
		
		<div class="text-center">
			<input type="submit" value="Save" class="btn btn-primary m-3" />
			<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
		</div>
	</div>
	</form>	
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#buttonCancel").on("click", function() {
			window.location = "[[@{/customers}]]";
		});
	});
</script>
</body>
</html>