<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Customers - My Store')}" />

<body>
<div class="container-fluid">
	<div th:replace="~{navigation :: menu}" ></div>
	<div>
		<h2>Manage Customers</h2>	
		<a th:href="@{/customers/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>				
	</div>
	
	<div th:if="${message != null}" class="alert-success text-center">
		[[${message}]]
	</div>
	
	<div>
		<form th:action="@{/customers/page/1}" class="form-inline m-3">
			<input type="hidden" name="sortField" th:value="${sortField}" />
			<input type="hidden" name="sortDir" th:value="${sortDir}" />
			
			Filter: &nbsp;
			<input type="search" name="keyword" th:value="${keyword}" class="form-control" required />
			&nbsp;&nbsp;
			<input type="submit" value="Search" class="btn btn-primary" />
			&nbsp;&nbsp;
			<input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()" />
		</form>
	</div>
	
	<div>
		<table class="table table-bordered table-striped table-hover table-responsive-lg"
			>
			<thead class="thead-dark">
				<tr>
					<th th:replace="~{fragments :: column_link('/customers', 'id', 'ID')}" />
					<th th:replace="~{fragments :: column_link('/customers', 'name', 'Name')}" />
					<th th:replace="~{fragments :: column_link('/customers', 'address', 'Address')}" />																											
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer : ${listCustomers}">
					<td>[[${customer.id}]]</td>
					<td>[[${customer.name}]]</td>
					<td>[[${customer.address}]]</td>
										
					<td>	
						<a class="fas fa-edit fa-2x icon-green" th:href="@{'/customers/edit/' + ${customer.id}}"
							title="Edit this customer"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div th:replace="~{fragments :: pagination('/customers', 'customers')}"></div>
		
	
</div>

<script type="text/javascript">
	function clearFilter() {
		window.location = "[[@{/customers}]]";		
	}
</script>
</body>
</html>